
Client/ProviderLoginDetails\.xml

\.vs/BankingBot/v14/\.suo

Client/obj/Debug/DesignTimeResolveAssemblyReferencesInput\.cache

Client/bin/

BankingBot/bin/

BankingBot/obj/Debug/

Client/obj/Debug/

\.vs/BankingBot/v15/Server/sqlite3/

\.vs/BankingBot/v15/\.suo
